<header class="header">
    <a href="/" class="header__logo">Admin Pannel</a>
    <nav class="header__nav">
        <ul>
            <li>
                <a href="/" class="header__home">Home</a>
            </li>
            <li>
                <a href="/about" class="header__about">About</a>
            </li>
            <li>
                <a href="/contact" class="header__contact">Contact</a>
            </li>
        </ul>
    </nav>

    <div class="header__button">
        <button >
          <a href="/logout">Logout</a>
        </button>
    </div>

</header>