<h1 class="contact_heading">Contact Me Via..</h1>


<div class="social-media-links">
    <a href="https://www.linkedin.com/in/shreyasd19/" target="_blank"><i class="fab fa-linkedin"></i> Linkedin.. </a><br>
    <a href="mailto:shreyas19d@gmail.com"><i class="fas fa-envelope"></i> Mail Me..</a><br>
    <a href="https://www.instagram.com/reydotd/" target="_blank"><i class="fab fa-instagram"></i> Instagram.. </a>
    <!-- Add more social media links as needed -->

</div>